.footer-main {
  height: 100%;
  width: 100%;
  border-top: solid 0.5px rgba(255, 255, 255, 0.164);
  background-color: #181818;
  padding: 0 0 0 20px;
  display: flex;
  justify-content: space-between;


  &__music-info{
    display: flex;

    img{
      margin-right: 6px;
      transform: scale(0.65);
    }

    &_display{
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-text{
        display: flex;
        flex-direction: column;

        .nome-musica{
          color: rgba(255, 255, 255, 1);
          font-weight: 500;
          height: 12px;
        }

        .autor-musica{
          color: rgba(255, 255, 255, 0.589);
          font-size: 0.8em;
          font-weight: 100;
        }
      }

      mat-icon{
        margin: 0 0 0 30px;
        color: #1DB954;
        transform: scale(0.7);
      }
    }
  }

  &__player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    &-bar{
      display: flex;
      column-gap: 6px;
      align-items: center;

      &_container{
        height: 4px;
        width: 550px;
        max-width: 550px;
        background-color: gray;
        border-radius: 10px;
      }

      label{
        padding-top: 2px;
        color: rgba(153, 153, 153, 0.74);
        font-size: 0.78em;
      }
    }
  }
}
