<div class="footer-main">

  <div class="footer-main__music-info">
    <img src="https://i.scdn.co/image/ab67616d00004851865b538169f199dac610b854" alt="">
    <div class="footer-main__music-info_display">
      <div class="footer-main__music-info_display-text">
      <label class="nome-musica">The Kill</label>
      <label class="autor-musica">Thirty Seconds To Mars</label>
      </div>
      <mat-icon>favorite</mat-icon>
    </div>
  </div>

  <div class="footer-main__player">
    <div class="footer-main__player-icones">
      <div class="footer-main__player-icones_box">
        <mat-icon (click)="embaralhamento()">shuffle</mat-icon>
        <div id="embaralhamento"></div>
      </div>
      <mat-icon class="icon">skip_previous</mat-icon>
      <mat-icon id="pauseIcon" class="icon-center displayOn" (click)="pausePlay()">pause_circle_filled</mat-icon>
      <mat-icon id="playIcon" class="icon-center displayOff" (click)="pausePlay()">play_circle_filled</mat-icon>
      <mat-icon class="icon">skip_next</mat-icon>
      <div class="footer-main__player-icones_box">
        <mat-icon (click)="repeticao()">repeat</mat-icon>
        <div id="repeticao"></div>
      </div>
    </div>
    <div class="footer-main__player-bar">
      <label>0:48</label>
      <div class="footer-main__player-bar_container">
        <div style="width: 30%;" class="footer-main__player-bar_container-material"></div>
        <div class="bolinha"></div>
      </div>
      <label>2:39</label>
    </div>
  </div>


  <div class="footer-main__volume">
    <mat-icon>menu</mat-icon>
    <mat-icon>laptop</mat-icon>
    <mat-icon>volume_up</mat-icon>
    <div class="footer-main__volume-bar_container">
      <div style="width: 30%;" class="footer-main__volume-bar_container-material"></div>
    </div>
    <mat-icon>fullscreen</mat-icon>
  </div>


</div>
