<div class="footer-main">

  <div class="footer-main__music-info">
    <img src="https://i.scdn.co/image/ab67616d00004851865b538169f199dac610b854" alt="">
    <div class="footer-main__music-info_display">
      <div class="footer-main__music-info_display-text">
      <label class="nome-musica">The Kill</label>
      <label class="autor-musica">Thirty Seconds To Mars</label>
      </div>
      <mat-icon>favorite</mat-icon>
    </div>
  </div>

  <div class="footer-main__player">
    <div class="footer-main__player-icones"></div>
    <div class="footer-main__player-bar">
      <label>0:48</label>
      <div class="footer-main__player-bar_container">
        <div class="footer-main__player-bar_container-material"></div>
      </div>
      <label>2:39</label>
    </div>
  </div>


  <div class="footer-main__music-info">
    <img src="https://i.scdn.co/image/ab67616d00004851865b538169f199dac610b854" alt="">
    <div class="footer-main__music-info_display">
      <div class="footer-main__music-info_display-text">
      <label class="nome-musica">The Kill</label>
      <label class="autor-musica">Thirty Seconds To Mars</label>
      </div>
      <mat-icon>favorite</mat-icon>
    </div>
  </div>


</div>
